# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ggj21.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\antonio\Documents\ggj21\.idea\.idea.ggj21\.idea/dataSources/
/dataSources.local.xml
